@media (min-width: 740px) {
  div.formulario#orcamento {
    height: 84vh;
    min-height: unset;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
  }

  div.formulario#orcamento span.whatsapp-desk {
    font-weight: 800;
    text-align: start;
    font-size: 14px;
    color: #fff;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
}

footer {
  position: unset;
  bottom: unset;
}
div.formulario#orcamento {
  /* height: auto; */
}

/* div.formulario#orcamento .box-btn-enviar {
  display: flex;
  justify-content: flex-end;
  max-width: unset;
  width: 587px;
} */
