footer {
  width: 100%;
  height: auto;
  background-color: #17324b;
  text-align: center;
  box-sizing: border-box;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer > p {
  width: 100%;
  font-weight: 400;
}
footer > p,
footer > p > strong {
  line-height: 24px;
  text-align: start;
  font-size: 12px;
  color: #fff !important;
  margin: 0;
}
footer > p > strong {
  font-weight: 700;
  text-transform: uppercase;
}
/* desktop */
/* 
footer > p > strong::after {
  content: " -";
  font-weight: 300;
} */

@media (min-width: 940px) {
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  footer > p > strong > br {
    display: none;
  }

  footer > p > strong::after {
    content: " -\00a0";
    font-weight: 400;
  }

  footer > p:nth-child(2)::after,
  footer > p:nth-child(3)::after {
    content: "\00a0-\00a0";
  }

  footer > p:last-child {
    font-weight: 800;
  }
  footer > p {
    width: unset;
    text-transform: uppercase;
    /* padding-right: 0.5rem; */
  }
}
